<ActionBar title="">
    <Actionitem text="Back" android.position="left" [nsRouterLink]="['/main']"></Actionitem>
</ActionBar>
<GridLayout>

    <MLKitObjectDetection
        width="100%"
        height="99%"
        classify="true"
        multiple="false"
        processEveryNthFrame="20"
        preferFrontCamera="false"
        (scanResult)="onObjectDetectionResult($event)">
    </MLKitObjectDetection>

    <StackLayout>
       
        <!--<WebView src="{{ htmlString }}"></WebView>-->
        <Label style="{{ labelStyle }}"></Label>
    </StackLayout>

</GridLayout>
  